version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    open-pull-requests-limit: 5
    versioning-strategy: increase
    allow:
      - dependency-name: '@algolia/n8n-openapi-node'
    commit-message:
      prefix: 'chore'
      include: 'scope'
